page-detail {

}
.header-image {
    ///background-image: url(https://ununsplash.imgix.net/photo-1421091242698-34f6ad7fc088?fit=crop&fm=jpg&h=650&q=75&w=950);
    height: 28vh;
}
 
.main-content {
    padding: 0 15px;
    background-color: #424242;
    color: white;
}

.col{
  width: 50% !important;
}

.fav-border{
    border-bottom: solid 1px white
}
