<fieldset class="rating">
  <input type="radio" value="5" [name]="inpustName" [checked]="rating === 5 " />
  <ion-icon name="ios-game-controller-b{{rating >= 5 ? '' : '-outline'}}" (click)='onClick(5)'></ion-icon>

  <input type="radio" value="4" [name]="inpustName" [checked]=" rating === 4" />

  <ion-icon name="ios-game-controller-b{{rating >= 4 ? '' : '-outline'}}" (click)='onClick(4)'></ion-icon>


  <input type="radio" value="3" [name]="inpustName" [checked]="rating === 3" />

  <ion-icon name="ios-game-controller-b{{rating >= 3 ? '' : '-outline'}}" (click)='onClick(3)'></ion-icon>
  <input type="radio" value="2" [name]="inpustName" [checked]=" rating=== 2" />

  <ion-icon name="ios-game-controller-b{{rating >=2 ? '' : '-outline'}}" (click)='onClick(2)'></ion-icon>
  <input type="radio" value="1" [name]="inpustName" [checked]=" rating === 1" />

  <ion-icon name="ios-game-controller-b{{ rating >= 1 ? '' : '-outline'}}" (click)='onClick(1)'></ion-icon>
</fieldset>
